.token-stat {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding-bottom:4px;
  margin-right: 8px;
  margin-bottom: 8px;
}

@media (max-width: 575px) {
  .token-stat {
    display: block;
    padding-top:1px;
    margin-right:0px;
  }
}

.token-stats-container {
  margin-bottom: 45px;
}


.token-stats-container h3 {
    font-family: 'Raleway';
    font-weight: 700;
    color: rgb(255,255,255,0.7);
    font-size: 0.55em;

    margin-left: 10px;
    margin-top: 7px;

    text-transform: uppercase;
}
.token-stats-container h4 {
    font-family: Catamaran, sans-serif;
    font-weight: 500;
    color: white;
    font-size: 0.8em;
    text-transform: none;

    margin-top: -4px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.token-stats-container.loading-data h4 {
  color: rgb(0,0,0,0);
}
.text-loader {
  display: inline-block;
  background-color: rgb(255,255,255,0.2);
  line-height: 1em;
  border-radius: 3px;
  animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

@keyframes load {
  0%{background-color: rgb(255,255,255,0.2);}
  50%{background-color: rgb(255,255,255,0.3);}
  100%{background-color: rgb(255,255,255,0.2);}
}



#metamask-button {
  background-color: #ea8b32 !important;
  display: none;
}
#metamask-button:hover {
  background-color: #cd6116 !important;
}
